{% extends 'no-nav.html' %}

{% block head %}

    <link href="/static/css/home.css" media="screen, projection" rel="stylesheet" type="text/css" />

{% endblock %}

{% block body_attrs %}

    id="home"

{% endblock %}

{% block content %}

    <section>
        <h1>Monitor Your Competitors</h1>
        <h2>Every redesign. Every pricing change. Everything, visually analyzed.</h2>
        <div class="container">
            <a class="small blue kiss" href="page?url=apple#tour">
                <span>Apple</span>
            </a>

            <a class="small green kiss" href="page?url=turningart#tour">
                <span>TurningArt</span>
            </a>

            <a class="small black kiss" href="page?url=zendesk#tour">
                <span>Zendesk</span>
            </a>

            <a class="small red kiss" href="page?url=wistia#tour">
                <span>Wistia</span>
            </a>

            <!-- <form action="page#tour" method="get">
                <input name="web-url" type="text" placeholder="http://www.apple.com/">
            </form> -->
        </div>
    </section>

{% endblock %}