{% extends 'no-nav.html' %}

{% block head %}

    <link href="/static/css/home.css" media="screen, projection" rel="stylesheet" type="text/css" />

{% endblock %}

{% block body_attrs %}

    id="home"

{% endblock %}

{% block content %}

    <section>
        <h1>Monitor Your Competitors</h1>
        <h2>Every redesign. Every pricing change. Everything, visually analyzed.</h2>
        <div class="container">
            <form action="page#tour" method="get">
                <input name="web-url" type="text" placeholder="http://www.apple.com/">
            </form>
        </div>
    </section>

{% endblock %}