{% extends 'base.html' %}

{% block head %}
    <script type="text/javascript">
        window.screenshotCount = {{ layout.screenshot_count }}
    </script>
{% endblock %}

{% block body_attrs %}

    class="h-scroll"

{% endblock %}

{% block content %}

    <div class="header">
        <h2>Profile of {{ page.name }}</h2>
        <div class="links">
            <a class="toggle-loupe">
                <span class="on">Magnify On</span>
                <span class="off">Magnify Off</span>
            </a>
            <a class="tile-pages">
                <span class="on">Tile</span>
                <span class="off">Full Screen</span>
            </a>
        </div>
    </div>

    <article class="page-gallery container clearfix">
        {% for screenshots in page.screenshots %}
            <section class="page {% if forloop.last %}last{% endif %}">
                <h4>Taken on August 9, 2011</h4>
                <img src="/static/images/turningart.png" />
            </section>
        {% endfor %}
    </article>
    
{% endblock %}

{% block scripts %}

    <script type="text/javascript" src="/static/js/compiled/jquery.loupe.min.js"></script>

{% endblock %}