{% extends 'app.html' %}

{% block content %}

    <div class="container">
        <div class="content">
            <div class="row">
                <section class="span8">
                    <form class="login" method="post" action="/accounts/login/">{% csrf_token %}
                        <fieldset>
                            <legend>Securely access your account</legend>
                            <div class="clearfix">
                                <label for="id_username">Username:</label>
                                <div class="input">
                                    <input id="id_username" type="text" name="username" maxlength="30">
                                </div>
                            </div>
                            <div class="clearfix">
                                <label for="id_password">Password:</label>
                                <div class="input">
                                    <input id="id_password" type="password" name="password">
                                </div>
                            </div>
                            <div class="actions">
                                <input type="submit" value="Secure Login" class="btn primary" />
                            </div>
                        </fieldset>
                    </form>
                </section>
                <aside class="span6 offset2">
                    <h3>Forgot your password?</h3>
                    <p>Use this link to quickly and safely recover your forgotten password.</p>
                    <h3>Need more help?</h3>
                    <p>If you're still having trouble, contact <strong>chief.io</strong> support for assistance. We're more than happy to help!</p>
                </aside>
            </div>
        </div>
    </div>

{% endblock %}