{% extends 'app.html' %}

{% block content %}

    <div class="container">
        <section class="content">
            <h2>Pages</h2>
            <div class="row">
                <section class="span12">
                    <table class="pages-table" border="0" cellspacing="15" cellpadding="15">
                        <tr>
                            <th><input type="checkbox"></th>
                            <th>Page you're monitoring</th>
                            <th>Screenshots</th>
                            <th>Status</th>
                            <th>GUID</th>
                            <th>Actions</th>
                        </tr>
                        {% for page in pages %}
                            <tr>
                                <td><input type="checkbox" name="delete[]" value="{{ page.guid }}"></td>
                                <td>{{ page.title }}<br/><a href="#">{{ page.url }}</a></td>
                                <td>{{ page.screenshots }}</td>
                                {% if page.status %}
                                    <td class="status-false">Broken</td>
                                {% else %}
                                    <td class="status-true">Perfect</td>
                                {% endif %}
                                <td>{{ page.guid }}</td>
                                <td><a href="page">View</a> | <a href="#">Delete</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </section>
    
                <aside class="span4">
                    <h3>Manage Your Pages</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </aside>
            </div>
        </section>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/static/js/compiled/jquery.sparkline.min.js"></script>
{% endblock %}