{% extends 'base.html' %}

{% block head %}

    <link href="/static/css/gallery.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        window.screenshotCount = {{ screenshot_count }}
    </script>
{% endblock %}

{% block content %}

    <div class="header">
        <h2>Profile of {{ page.name }}</h2>
        <div class="links">
            <a class="tile-pages">
                <span class="on">Full screen</span>
                <span class="off">Tile all</span>
            </a>
            <a class="toggle-loupe">
                <span class="on">Magnify on</span>
                <span class="off">Magnify off</span>
            </a>
        </div>
    </div>

    <article class="page-gallery container clearfix">
        {% for version in page.versions %}
            <section class="page {% if forloop.last %}last{% endif %}">
                <h4>Taken on {{ version.date }}</h4>
                <img src="{{ version.screenshot.path }}" />
            </section>
        {% endfor %}
    </article>
    
{% endblock %}

{% block scripts %}

    <script type="text/javascript" src="/static/js/jquery.loupe.js"></script>
    <script src="/static/js/guiders/guiders-1.1.1.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/js/compiled/gallery.js"></script>

{% endblock %}