<div class="sidebar">
    <h3>Inclusive Platform</h3>
    <ul class="mini-nav">
        <li class="platform"><a href="/platform/">Monitor Anything</a></li>
        <li class="platform-algorithms"><a href="/algorithms/">Smart Algorithms</a></li>
        <li class="platform-analysis"><a href="/analysis/">Easy Analysis</a></li>
        <li class="platform-notifications"><a href="/notifications/">Notifications</a></li>
        <li class="platform-details"><a href="/details/">Technical Details</a></li>
    </ul>
    <hr />
    <h3>High Security</h3>
    <p><strong>chief.io</strong> comes with a notarized SLA, NDA and terms of agreement.</p>
    <p>
        <strong>Need it custom?</strong><br/>
        <a href="#">Contact our team</a> to discuss your special requirements.
    </p>
</div>
