/* line 7, ../sass/_base.sass */
body {
  font-family: "Puritan", "Helvetica Neue", Helvetica, sans-serif;
}

/* line 10, ../sass/_base.sass */
.topbar h3 {
  font-family: "Amaranth";
  font-weight: bold;
}

/* line 14, ../sass/_base.sass */
.clearfix {
  *zoom: 1;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 17, ../sass/_base.sass */
.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* line 1, ../sass/_guiders.sass */
.guider {
  background: white;
  border: 1px solid #666666;
  font-family: arial;
  position: absolute;
  outline: none;
  z-index: 100000005 !important;
  padding: 4px 12px;
  width: 500px;
  z-index: 100;
  /* Shadow */
  -moz-box-shadow: 0 0px 8px #111111;
  -webkit-box-shadow: 0 0px 8px #111111;
  box-shadow: 0 0px 8px #111111;
  /* End shadow */
  /* Rounded corners */
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  /* End rounded corners */
}

/* line 22, ../sass/_guiders.sass */
.guider_buttons {
  height: 36px;
  position: relative;
  width: 100%;
}

/* line 27, ../sass/_guiders.sass */
.guider_content {
  position: relative;
}
/* line 29, ../sass/_guiders.sass */
.guider_content h3 {
  color: #1054aa;
  float: left;
  font-size: 21px;
}

/* line 34, ../sass/_guiders.sass */
.guider_close {
  float: right;
  padding: 10px 0 0;
}

/* line 38, ../sass/_guiders.sass */
.x_button {
  background-image: url("x_close_button.jpg");
  cursor: pointer;
  height: 13px;
  width: 13px;
}

/* line 44, ../sass/_guiders.sass */
.guider_content p {
  clear: both;
  color: #333333;
  font-size: 13px;
}

/* line 49, ../sass/_guiders.sass */
.guider_button {
  background: -moz-linear-gradient(top, #5ca9ff 0%, #3d79c3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5ca9ff), color-stop(100%, #3d79c3));
  background-color: #4a95e0;
  /* overruled by background gradient, in browsers where they exist */
  border: solid 1px #4b5d7e;
  color: white;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 75%;
  font-weight: bold;
  margin-left: 6px;
  min-width: 40px;
  padding: 3px 5px;
  text-align: center;
  text-decoration: none;
  /* Rounded corners */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  /* End rounded corners */
}

/* line 72, ../sass/_guiders.sass */
#guider_overlay {
  background-color: black;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  z-index: 10;
}

/* line 84, ../sass/_guiders.sass */
.guider_arrow {
  width: 42px;
  height: 42px;
  position: absolute;
  display: none;
  background-repeat: no-repeat;
  z-index: 100000006 !important;
  background-image: url(../images/guider_arrows.png);
}

/* line 93, ../sass/_guiders.sass */
.guider_arrow_right {
  display: block;
  background-position: 0px 0px;
  right: -42px;
}

/* line 98, ../sass/_guiders.sass */
.guider_arrow_down {
  display: block;
  background-position: 0px -42px;
  bottom: -42px;
}

/* line 103, ../sass/_guiders.sass */
.guider_arrow_up {
  display: block;
  background-position: 0px -126px;
  top: -42px;
}

/* line 108, ../sass/_guiders.sass */
.guider_arrow_left {
  display: block;
  background-position: 0px -84px;
  left: -42px;
}

/* line 4, ../sass/gallery.sass */
#content {
  padding-top: 74px;
}

/* line 8, ../sass/gallery.sass */
.gallery .snapshot {
  float: left;
  width: 30%;
  margin-bottom: 45px;
}
/* line 13, ../sass/gallery.sass */
.gallery .snapshot.middle {
  padding: 0 5%;
}
/* line 16, ../sass/gallery.sass */
.gallery .snapshot img {
  border: 1px solid #cccccc;
  margin-bottom: 10px;
}
/* line 20, ../sass/gallery.sass */
.gallery .snapshot .links {
  display: block;
}
/* line 23, ../sass/gallery.sass */
.gallery .snapshot .links .details {
  float: left;
}
/* line 25, ../sass/gallery.sass */
.gallery .snapshot .links .url {
  float: right;
}

/* line 28, ../sass/gallery.sass */
.header {
  width: 100%;
}
/* line 31, ../sass/gallery.sass */
.header .links {
  float: right;
  position: relative;
  right: 20px;
  top: -30px;
  width: 400px;
  text-align: right;
}
/* line 39, ../sass/gallery.sass */
.header .links span {
  margin-left: 20px;
}
/* line 42, ../sass/gallery.sass */
.header .links span.off {
  display: none;
}

/* line 47, ../sass/gallery.sass */
#content.full .header {
  position: fixed;
}
/* line 50, ../sass/gallery.sass */
#content.full article {
  margin-top: 60px;
}

/* line 54, ../sass/gallery.sass */
.page-gallery {
  margin-top: 15px;
}
/* line 57, ../sass/gallery.sass */
.page-gallery section.page {
  float: left;
  margin-right: 40px;
  margin-bottom: 40px;
}
/* line 62, ../sass/gallery.sass */
.page-gallery section.page img {
  border: 1px solid #cccccc;
  -moz-box-shadow: 2px 2px 5px #cccccc;
  -webkit-box-shadow: 2px 2px 5px #cccccc;
  -o-box-shadow: 2px 2px 5px #cccccc;
  box-shadow: 2px 2px 5px #cccccc;
  width: 250px;
}
/* line 67, ../sass/gallery.sass */
.page-gallery section.page.last {
  margin-right: 0;
}

/* line 70, ../sass/gallery.sass */
.loupe {
  border: 1px solid #222222;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 74, ../sass/gallery.sass */
.loupe.page {
  float: left;
  margin-right: 40px;
}
