/* line 7, ../sass/_base.sass */
html {
  overflow-y: auto;
}

/* line 10, ../sass/_base.sass */
body {
  font-family: "Puritan", "Helvetica Neue", Helvetica, sans-serif;
}

/* line 13, ../sass/_base.sass */
.topbar h3 {
  font-family: "Amaranth";
  font-weight: bold;
}

/* line 17, ../sass/_base.sass */
.clearfix {
  *zoom: 1;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 20, ../sass/_base.sass */
.nav, .sidebar ul.mini-nav, .footer-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Setting main nav styles based on body attribute */
/* line 6, ../sass/marketing.sass */
body.home .topbar ul li.home a {
  background-color: #222222;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 6, ../sass/marketing.sass */
body.platform .topbar ul li.platform a {
  background-color: #222222;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 6, ../sass/marketing.sass */
body.demo .topbar ul li.demo a {
  background-color: #222222;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 6, ../sass/marketing.sass */
body.pricing .topbar ul li.pricing a {
  background-color: #222222;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Platform has a subnav, so we need to accommodate */
/* line 13, ../sass/marketing.sass */
body#platform .mini-nav li.platform a {
  color: black;
  background-color: #eff7fc;
  text-decoration: none;
}

/* line 13, ../sass/marketing.sass */
body#platform-algorithms .mini-nav li.platform-algorithms a {
  color: black;
  background-color: #eff7fc;
  text-decoration: none;
}

/* line 13, ../sass/marketing.sass */
body#platform-analysis .mini-nav li.platform-analysis a {
  color: black;
  background-color: #eff7fc;
  text-decoration: none;
}

/* line 13, ../sass/marketing.sass */
body#platform-notifications .mini-nav li.platform-notifications a {
  color: black;
  background-color: #eff7fc;
  text-decoration: none;
}

/* line 13, ../sass/marketing.sass */
body#platform-details .mini-nav li.platform-details a {
  color: black;
  background-color: #eff7fc;
  text-decoration: none;
}

/* line 18, ../sass/marketing.sass */
body.demo .topbar .container, body.demo footer .container {
  padding: 0 20px;
  zoom: 1;
  margin: 0;
  width: auto;
}

/* line 24, ../sass/marketing.sass */
h1 {
  color: white;
  font-size: 35px;
  line-height: 1;
  margin-bottom: 0;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

/* line 31, ../sass/marketing.sass */
.demo-wrapper {
  /* Padding for pages that show the app */
  margin-top: 40px;
}

/* line 35, ../sass/marketing.sass */
.hero {
  margin-top: 40px;
  background-color: #049cd9;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#004d9f), to(#049cd9));
  background-image: -webkit-linear-gradient(#004d9f, #049cd9);
  background-image: -moz-linear-gradient(#004d9f, #049cd9);
  background-image: -o-linear-gradient(top, #004d9f, #049cd9);
  background-image: -khtml-gradient(linear, left top, left bottom, from(#004d9f), to(#049cd9));
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#004D9F', EndColorStr='#049cd9', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#004D9F', EndColorStr='#049cd9', GradientType=0))";
}
/* line 48, ../sass/marketing.sass */
.hero div.inner {
  background: transparent url(../images/grid-18px.png) top center;
  padding: 30px 0 10px;
  -moz-box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.3);
}

/* line 53, ../sass/marketing.sass */
.sidebar {
  border-right: 1px dotted #eeeeee;
  padding-top: 20px;
}
/* line 60, ../sass/marketing.sass */
.sidebar ul.mini-nav li {
  font-size: 14px;
  border-top: 1px dotted #eeeeee;
}
/* line 64, ../sass/marketing.sass */
.sidebar ul.mini-nav li:first-child {
  border-top: none;
}
/* line 67, ../sass/marketing.sass */
.sidebar ul.mini-nav li a {
  display: block;
  padding: 4px 20px;
  color: #777777;
  -moz-transition-property: background-color 0.2s ease-in;
  -webkit-transition-property: background-color 0.2s ease-in;
  -o-transition-property: background-color 0.2s ease-in;
  transition-property: background-color 0.2s ease-in;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 73, ../sass/marketing.sass */
.sidebar ul.mini-nav li a:hover {
  color: black;
  background-color: #eff7fc;
  text-decoration: none;
}
/* line 78, ../sass/marketing.sass */
.sidebar hr {
  border-bottom: 1px dotted #eeeeee;
}
/* line 81, ../sass/marketing.sass */
.sidebar p {
  padding-right: 20px;
}

/* line 84, ../sass/marketing.sass */
.content {
  padding-top: 20px;
}

/* line 87, ../sass/marketing.sass */
.demo-searchbox {
  width: 500px;
  margin: 10% auto 0;
}
/* line 91, ../sass/marketing.sass */
.demo-searchbox h2 {
  text-align: center;
  margin-bottom: 15px;
}
/* line 95, ../sass/marketing.sass */
.demo-searchbox form {
  text-align: center;
}
/* line 98, ../sass/marketing.sass */
.demo-searchbox .xlarge {
  width: 350px;
  margin: 0 auto;
}

/* line 102, ../sass/marketing.sass */
.footer-nav {
  float: left;
}
/* line 106, ../sass/marketing.sass */
.footer-nav li {
  float: left;
  margin-right: 20px;
}
/* line 110, ../sass/marketing.sass */
.footer-nav li a {
  color: #bbbbbb;
}
/* line 113, ../sass/marketing.sass */
.footer-nav li a:hover {
  color: #0050a3;
}
