/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 7, ../sass/_kiss.sass */
.kiss {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: 0;
  overflow: hidden;
  padding: 1px;
  text-decoration: none !important;
  vertical-align: middle;
  width: auto !important;
  color: white;
  cursor: pointer;
}
/* line 20, ../sass/_kiss.sass */
.kiss * {
  background-color: transparent;
  border-style: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: block;
  font-weight: bold;
  font-size: 12px;
  padding: 0.2em 0.6em;
  line-height: normal;
  margin: 0;
  position: relative;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  width: auto !important;
  color: white;
  cursor: pointer;
}
/* line 39, ../sass/_kiss.sass */
.kiss:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(1, rgba(0, 0, 0, 0.1)));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.1));
  cursor: pointer;
  text-decoration: none !important;
  color: white;
}
/* line 46, ../sass/_kiss.sass */
.kiss.green {
  background-color: #69a846;
}
/* line 49, ../sass/_kiss.sass */
.kiss.red {
  background-color: #ad485a;
}
/* line 52, ../sass/_kiss.sass */
.kiss.blue {
  background-color: #447ba3;
}
/* line 55, ../sass/_kiss.sass */
.kiss.orange {
  background-color: #b8824d;
}
/* line 58, ../sass/_kiss.sass */
.kiss.black {
  background-color: #444444;
}
/* line 61, ../sass/_kiss.sass */
.kiss.medium * {
  font-size: 16px;
}
/* line 64, ../sass/_kiss.sass */
.kiss.large * {
  font-size: 24px;
}
/* line 67, ../sass/_kiss.sass */
.kiss.arrow.right * {
  padding-right: 1.8em;
  background: transparent url("//d1nu2rn22elx8m.cloudfront.net/static/images/arrow-right_12x12.png") no-repeat 95%;
}
/* line 71, ../sass/_kiss.sass */
.kiss.medium.arrow.right * {
  background-image: url("//d1nu2rn22elx8m.cloudfront.net/static/images/arrow-right_16x16.png");
}
/* line 74, ../sass/_kiss.sass */
.kiss.large.arrow.right * {
  background-image: url("//d1nu2rn22elx8m.cloudfront.net/static/images/arrow-right_22x22.png");
}

/* line 9, ../sass/screen.sass */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.2em;
  color: #666666;
}
/* line 16, ../sass/screen.sass */
body.h-scroll h2 {
  position: fixed;
  width: 100%;
}
/* line 20, ../sass/screen.sass */
body.h-scroll article {
  width: inherit;
  margin-top: 60px;
}

/* line 24, ../sass/screen.sass */
h1 {
  font-size: 20px;
  line-height: 40px;
  width: 50%;
  float: left;
}
/* line 30, ../sass/screen.sass */
h1 a:hover {
  text-decoration: none;
}

/* line 33, ../sass/screen.sass */
h2 {
  font-size: 24px;
  line-height: 1.3em;
  font-weight: bold;
  color: #666666;
  padding-bottom: 10px;
  margin: 0 20px;
  border-bottom: 3px solid #eeeeee;
}

/* line 42, ../sass/screen.sass */
h3 {
  font-size: 18px;
  line-height: 1.3em;
  font-weight: bold;
  color: #444444;
  margin-bottom: 10px;
}

/* line 49, ../sass/screen.sass */
h4 {
  font-size: 14px;
  line-height: 1.3em;
  margin-bottom: 10px;
}

/* line 54, ../sass/screen.sass */
header {
  background: #222222;
  color: white;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 40px;
  text-shadow: #cccccc 0px 0px 1px;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 64, ../sass/screen.sass */
header a {
  color: white;
  text-shadow: #cccccc 0px 0px 1px;
}

/* line 68, ../sass/screen.sass */
nav {
  float: right;
  width: 50%;
  text-align: right;
  line-height: 40px;
}
/* line 74, ../sass/screen.sass */
nav li {
  display: inline-block;
  list-style-type: none;
  padding-left: 1.3em;
}
/* line 79, ../sass/screen.sass */
nav li.username {
  padding-right: 1.3em;
  border-right: 1px solid #cccccc;
}

/* line 83, ../sass/screen.sass */
article {
  margin-top: 20px;
}
/* line 86, ../sass/screen.sass */
article.with-sidebar {
  width: 66%;
  float: left;
}
/* line 90, ../sass/screen.sass */
article.with-sidebar .container {
  padding-right: 0;
}

/* line 93, ../sass/screen.sass */
aside {
  padding-top: 20px;
  min-width: 320px;
  max-width: 33%;
  height: 100%;
  float: left;
}
/* line 100, ../sass/screen.sass */
aside.fixed {
  position: fixed;
  right: 0;
  background-color: rgba(255, 255, 255, 0.95);
  width: 320px;
  border-left: 1px solid #eeeeee;
  padding-top: 20px;
  margin-top: 44px;
  -moz-box-shadow: -3px 2px 5px #aaaaaa;
  -webkit-box-shadow: -3px 2px 5px #aaaaaa;
  -o-box-shadow: -3px 2px 5px #aaaaaa;
  box-shadow: -3px 2px 5px #aaaaaa;
}

/* line 113, ../sass/screen.sass */
section.page {
  margin-bottom: 40px;
  float: left;
  margin-right: 40px;
}
/* line 118, ../sass/screen.sass */
section.page img {
  width: 100%;
  border: 1px solid #cccccc;
  -moz-box-shadow: 2px 2px 5px #cccccc;
  -webkit-box-shadow: 2px 2px 5px #cccccc;
  -o-box-shadow: 2px 2px 5px #cccccc;
  box-shadow: 2px 2px 5px #cccccc;
  width: 400px;
}

/* line 124, ../sass/screen.sass */
a {
  color: #0f8fed;
  text-decoration: none;
}
/* line 128, ../sass/screen.sass */
a:hover {
  text-decoration: underline;
}

/* line 131, ../sass/screen.sass */
table {
  width: 100%;
}
/* line 2, ../sass/_mixins.sass */
table th {
  background-color: #222222;
}
/* line 5, ../sass/_mixins.sass */
table tfoot {
  background-color: #222222;
}
/* line 8, ../sass/_mixins.sass */
table tr:nth-child(even) {
  background-color: transparent;
}
/* line 11, ../sass/_mixins.sass */
table tr:nth-child(odd) {
  background-color: #eeeeee;
}
/* line 135, ../sass/screen.sass */
table td, table th {
  padding: 15px;
}
/* line 138, ../sass/screen.sass */
table th {
  background-color: #222222;
  color: white;
}

/* line 142, ../sass/screen.sass */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 145, ../sass/screen.sass */
#content {
  padding-top: 74px;
}

/* line 148, ../sass/screen.sass */
.container {
  padding: 0 20px;
}

/* line 152, ../sass/screen.sass */
.gallery .snapshot {
  float: left;
  width: 32%;
  margin-bottom: 25px;
}
/* line 157, ../sass/screen.sass */
.gallery .snapshot.middle {
  padding: 0 2%;
}
/* line 160, ../sass/screen.sass */
.gallery .snapshot img {
  width: 100%;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  width: 400px;
}
/* line 166, ../sass/screen.sass */
.gallery .snapshot .links {
  display: block;
}
/* line 169, ../sass/screen.sass */
.gallery .snapshot .links .details {
  float: left;
}
/* line 171, ../sass/screen.sass */
.gallery .snapshot .links .url {
  float: right;
}

/* line 174, ../sass/screen.sass */
.loupe {
  border: 1px solid #222222;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
