/* line 1, ../sass/_guiders.sass */
.guider {
  background: white;
  border: 1px solid #666666;
  font-family: arial;
  position: absolute;
  outline: none;
  z-index: 100000005 !important;
  padding: 4px 12px;
  width: 500px;
  z-index: 100;
  /* Shadow */
  -moz-box-shadow: 0 0px 8px #111111;
  -webkit-box-shadow: 0 0px 8px #111111;
  box-shadow: 0 0px 8px #111111;
  /* End shadow */
  /* Rounded corners */
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  /* End rounded corners */
}

/* line 22, ../sass/_guiders.sass */
.guider_buttons {
  height: 36px;
  position: relative;
  width: 100%;
}

/* line 27, ../sass/_guiders.sass */
.guider_content {
  position: relative;
}
/* line 29, ../sass/_guiders.sass */
.guider_content h3 {
  color: #1054aa;
  float: left;
  font-size: 21px;
}

/* line 34, ../sass/_guiders.sass */
.guider_close {
  float: right;
  padding: 10px 0 0;
}

/* line 38, ../sass/_guiders.sass */
.x_button {
  background-image: url("x_close_button.jpg");
  cursor: pointer;
  height: 13px;
  width: 13px;
}

/* line 44, ../sass/_guiders.sass */
.guider_content p {
  clear: both;
  color: #333333;
  font-size: 13px;
}

/* line 49, ../sass/_guiders.sass */
.guider_button {
  background: -moz-linear-gradient(top, #5ca9ff 0%, #3d79c3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5ca9ff), color-stop(100%, #3d79c3));
  background-color: #4a95e0;
  /* overruled by background gradient, in browsers where they exist */
  border: solid 1px #4b5d7e;
  color: white;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 75%;
  font-weight: bold;
  margin-left: 6px;
  min-width: 40px;
  padding: 3px 5px;
  text-align: center;
  text-decoration: none;
  /* Rounded corners */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  /* End rounded corners */
}

/* line 72, ../sass/_guiders.sass */
#guider_overlay {
  background-color: black;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  z-index: 10;
}

/* line 84, ../sass/_guiders.sass */
.guider_arrow {
  width: 42px;
  height: 42px;
  position: absolute;
  display: none;
  background-repeat: no-repeat;
  z-index: 100000006 !important;
  background-image: url(../images/guider_arrows.png);
}

/* line 93, ../sass/_guiders.sass */
.guider_arrow_right {
  display: block;
  background-position: 0px 0px;
  right: -42px;
}

/* line 98, ../sass/_guiders.sass */
.guider_arrow_down {
  display: block;
  background-position: 0px -42px;
  bottom: -42px;
}

/* line 103, ../sass/_guiders.sass */
.guider_arrow_up {
  display: block;
  background-position: 0px -126px;
  top: -42px;
}

/* line 108, ../sass/_guiders.sass */
.guider_arrow_left {
  display: block;
  background-position: 0px -84px;
  left: -42px;
}

/* line 5, ../sass/visual-selector.sass */
#visual-selector iframe {
  border: 1px solid #ececec;
  width: 100%;
  height: 600px;
}
