@import "compass/css3"
@import "compass/utilities/general/clearfix"

@import constants
@import mixins

body
    font-family: $font

.topbar h3
    font-family: 'Amaranth'
    font-weight: bold

.clearfix
    +pie-clearfix

.nav
    list-style-type: none
    padding: 0
    margin: 0

