@import "compass/css3"
@import guiders

.gallery
    .snapshot
        float:  left
        width: 30%
        margin-bottom: 45px
        
        &.middle
            padding: 0 5%
        
        img
            border: 1px solid #ccc
            margin-bottom: 10px
        
        .links
            display: block
            
            .details
                float: left
            .url
                float: right

.util-links
    text-align: right

    a
        margin-left: 10px
        cursor: pointer

    span

        &.off
            display: none

// Specific situation for tiling
#content.full
    .header
        position: fixed

    article
        margin-top: 60px


.page-gallery
    margin-top: 15px

    .row
        .page
            float: left
            margin-left: 20px
            margin-bottom: 20px
        
            &:first-child
                margin-left: 0

            img
                border: 1px solid #ccc
                +single-box-shadow(#ccc, 2px, 2px)
                width: 298px

.loupe
    border: 1px solid #222
    +single-box-shadow
    
    &.page
        float: left
        margin-right: 40px
    