{% extends 'marketing.html' %}

{% block body_attributes %}
    id="platform-notifications" class="platform"
{% endblock %}

{% block content %}

    <section class="hero">
        <div class="inner">
            <div class="container">
                <h1>Manage everything from one place</h1>
            </div>
        </div>
    </section>
    
    <section>
        <div class="container">
            <div class="row">
                <aside class="span3 first">
                    {% include 'marketing/parts/platform-nav.html' %}
                </aside>

                <section class="span13">
                    <div class="content">
                        <h2>Get notified whenever and wherever you want.</h2>
                        <p>
                            Reacting quickly to changes in the market is crucial to your success. With <strong>chief.io</strong>, you'll always be equipped with information as it happens.
                        </p>
                        <h3>Email Notifications</h3>
                        <p>
                            Get emails at whatever frequency you want: real-time, hourly, daily or weekly.
                        </p>
                        <h3>SMS Notifications</h3>
                        <p>
                            Receive a timely, informative text message that explains what happened in plain English.
                        </p>
                        <h3>Notify Colleagues</h3>
                        <p>
                            Automatically send an additional message to a colleague when certain conditions are met.
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </section>

{% endblock %}