{% extends 'marketing.html' %}

{% block body_attributes %}
    id="platform-details" class="platform"
{% endblock %}

{% block content %}

    <section class="hero">
        <div class="inner">
            <div class="container">
                <h1>Manage everything from one place</h1>
            </div>
        </div>
    </section>
    
    <section>
        <div class="container">
            <div class="row">
                <aside class="span3 first">
                    {% include 'marketing/parts/platform-nav.html' %}
                </aside>

                <section class="span13">
                    <div class="content">
                        <h2>Technology and security you can trust.</h2>
                        <p>
                            Our technology and algorithms are what make us the market leader.
                        </p>
                        
                        <h3>Amazing User Interfaces</h3>
                        <p>
                            The <strong>chief.io</strong> team has invested a lot of time and effort into making our tools extremely easy and intuitive to use. Our goal is to help you get and comprehend the information you need with speed and accuracy so you save time and money.
                        </p>
                        <h3>Exceptionally Fast Infrastructure</h3>
                        <p>
                            <strong>chief.io</strong> is hosted on Amazon's Compute Cloud, the unattested leader in large-scale server infrastructure. Our content is served through their cloud network and is backed up in three different regions of the United States, so you'll never be without your account.
                        </p>
                        <h3>Unparalleled Privacy and Security</h3>
                        <p>
                            To protect your privacy, <strong>chief.io</strong> accounts holders are excluded from on-site analytics and usage tracking. Your information will never be shared, and your account will never be disclosed to third-parties or your competitors. Customers can also opt to have their accounts encrypted and backed up to a configuration of their choice.
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </section>

{% endblock %}