{% extends 'marketing.html' %}

{% block body_attributes %}
    id="platform-analysis" class="platform"
{% endblock %}

{% block content %}

    <section class="hero">
        <div class="inner">
            <div class="container">
                <h1>Manage everything from one place</h1>
            </div>
        </div>
    </section>
    
    <section>
        <div class="container">
            <div class="row">
                <aside class="span3 first">
                    {% include 'marketing/parts/platform-nav.html' %}
                </aside>

                <section class="span13">
                    <div class="content">
                        <h2>Read changes, not spreadsheets.</h2>
                        <p>
                            Let <strong>chief.io</strong> analyze the changes for you and tell you what's important. Rather than digging through spreadsheets of data or a lengthy change history, <strong>chief.io</strong> gives you a visual comparison.
                        </p>
                        <h3>High-res Screenshots</h3>
                        <p>
                            When <strong>chief.io</strong> detects a significant change, it takes a high-res screenshot of the page to include in your report. The system then annotates the screenshot, highlighting only the things that are important and cutting out things that are the same or irrelevant.
                        </p>
                        <h3>Smart Recommendations</h3>
                        <p>
                            Changes detected by <strong>chief.io</strong> are analyzed and classified, so we can tell you exactly how best to respond. You can also create your own classifications and tell <strong>chief.io</strong> when to use them.
                        </p>
                        <h3>Sort by Anything</h3>
                        <p>
                            Sort your feed of changes by type, date, importance, keyword, or by any combination of the four.
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </section>

{% endblock %}