{% extends 'marketing.html' %}

{% block body_attributes %}
    id="platform-algorithms" class="platform"
{% endblock %}

{% block content %}

    <section class="hero">
        <div class="inner">
            <div class="container">
                <h1>Manage everything from one place</h1>
            </div>
        </div>
    </section>
    
    <section>
        <div class="container">
            <div class="row">
                <aside class="span3 first">
                    {% include 'marketing/parts/platform-nav.html' %}
                </aside>

                <section class="span13">
                    <div class="content">
                        <h2>See only the changes that matter to you.</h2>
                        <p>
                            Other competitive intelligence websites wrongly alert you to changes that aren't important to you. With <strong>chief.io</strong>, you'll only get notified when an important change takes place. To do this, we have four algorithms:
                        </p>
                        <h3>Basic Threshold Algorithm</h3>
                        <p>
                            By default, all alerts are triggered by a basic "threshold" of change that's specific for that type of content. With this threshold limit, we'll only notify you if a page changes by a significant percentage. You can also customize this threshold limit for your entire account, or on a per-page basis.
                        </p>
                        <h3>Pricing Algorithm</h3>
                        <p>
                            Monitoring your competitors' pricing demands a higher level of finesse. In order to do this effectively, <strong>chief.io</strong> looks for specific price-related indicators: dollar amount, currency and time constraint (e.g. monthly, quarterly, yearly).
                        </p>
                        <p>
                            Our proprietary Pricing Algorithm also looks for other related details, such as "relative package value" and "included features" for a given pricing plan.
                        </p>
                        <h3>Social Algorithm</h3>
                        <p>
                            The Social Algorithm finds and filters worthwhile social conversations your competitors are having on social sites like Facebook, Twitter and LinkedIn. After collecting the data, the Social Algorithm looks for mentions of your brand name or services that you offer, and stores that as a notification. It also analyzes the sentiment of these social conversations and alerts you of opportunities to join the discussion.
                        </p>
                        <h3>A/B Testing Algorithm</h3>
                        <p>
                            If <strong>chief.io</strong> discovers that a page is performing an A/B test, that page, and all of its content, is passed to our A/B Testing Algorithm. This algorithm captures all of the variations that your competitors are testing and highlights the differences between each one. The algorithm also monitors any time a variation is retired or created, so you can see the full history of the A/B test.
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </section>

{% endblock %}