{% extends 'marketing.html' %}

{% block body_attributes %}
    id="platform" class="platform"
{% endblock %}

{% block content %}

    <section class="hero">
        <div class="inner">
            <div class="container">
                <h1>Manage everything from one place</h1>
            </div>
        </div>
    </section>
    
    <section>
        <div class="container">
            <div class="row">
                <aside class="span3">
                    {% include 'marketing/parts/platform-nav.html' %}
                </aside>

                <section class="span13">
                    <div class="content">
                        <h2>Web, mobile or social. Monitor it all.</h2>
                        <p>
                            Only <strong>chief.io</strong> gives you insight into your competitors' social and mobile strategies. Using the <strong>chief.io</strong> platform, you can quickly see how your professional peers position themselves on Twitter, Facebook, LinkedIn and more.
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </section>

{% endblock %}