{% extends 'marketing.html' %}

{% block content %}


    <section class="hero">
        <div class="inner">
            <div class="container">
                <h1>Manage everything from one place</h1>
            </div>
        </div>
    </section>
    
    <section>
        <div class="container row">
            <aside class="span3">
                <div class="sidebar">
                    <h3>Inclusive Platform</h3>
                    <ul class="mini-nav">
                        <li><a href="#">Monitor Anything</a></li>
                        <li><a href="#">Smart Algorithms</a></li>
                        <li><a href="#">Easy Analysis</a></li>
                        <li><a href="#">Notifications</a></li>
                        <li><a href="#">Technical Details</a></li>
                    </ul>
                    <hr />
                    <h3>High Security</h3>
                    <p><strong>chief.io</strong> comes with a notarized SLA, NDA and terms of agreement.</p>
                    <p>
                        <strong>Need it custom?</strong><br/>
                        <a href="#">Contact our team</a> to discuss your special requirements.
                    </p>
                </div>
            </aside>

            <section class="span13">
                <div class="content">
                    <h2>Web, mobile or social. Monitor it all.</h2>
                    <p>
                        Shoreditch yr PBR food truck, sustainable bicycle rights locavore freegan synth seitan butcher VHS stumptown. Mustache sartorial +1, letterpress beard banksy wes anderson organic butcher master cleanse craft beer single-origin coffee williamsburg raw denim jean shorts. Vice vegan lomo, craft beer cardigan wes anderson DIY carles fap shoreditch single-origin coffee farm-to-table ethical cliche mcsweeney's. Gentrify food truck letterpress, farm-to-table helvetica biodiesel +1. Helvetica locavore pitchfork, quinoa seitan vinyl next level blog etsy synth. Homo next level terry richardson dreamcatcher irony, raw denim farm-to-table you probably haven't heard of them keytar pitchfork. Locavore cardigan brunch letterpress, terry richardson portland mcsweeney's homo iphone gentrify synth.
                    </p>
                </div>
            </section>
        </div>
    </section>

{% endblock %}