<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{% block title %}DesignSnapper{% endblock %}</title>
        <link href="/static/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
        
        {% block head %}{% endblock %}
        
    </head>

    <body {% block body_attrs %}{% endblock %}>
        <header>
            <div class="container clearfix">
                <h1><a href="/">DesignSnapper</a></h1>
                <nav>
                    <ul>
                        {% if user.is_authenticated %}
                            <li class="username">Hello, {{ user.username }}</li>
                        {% endif %}
                        <li><a href="/">Pages</a></li>
                        <li><a href="settings">Settings</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="/accounts/logout">Logout</a></li>
                        {% else %}
                            <li><a href="/accounts/login">Login</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </header>

        <div id="content" class="clearfix">
            {% block content %}{% endblock %}
        </div>

        <footer>
        </footer>

        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/compiled/core.js"></script>
        {% block scripts %}{% endblock %}

    </body>
</html>