{% extends 'base.html' %}

{% block head %}
    <link href="/static/css/marketing.css" media="screen, projection" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body_attributes %}
    class="home"
{% endblock %}

{% block nav %}
    <header class="topbar">
        <div class="fill">
            <div class="container">
                <h3><a href="/">chief.io</a></h3>
                <ul>
                    <li class="home"><a href="/">Home</a></li>
                    <li class="platform"><a href="/platform/">Platform</a></li>
                    <li class="demo"><a href="/demo/">Demo</a></li>
                    <li class="pricing"><a href="/pricing/">Pricing</a></li>
                </ul>
                <ul class="secondary-nav">
                    <li class="menu">
                        <a href="#" class="menu">Account</a>
                        <ul class="menu-dropdown">
                            <li><a href="http://my.chief.io/">Log in to Chief.io</a></li>
                            <li><a href="http://my.chief.io/recover/">Recover password</a></li>
                            <li class="divider"></li>
                            <li><a href="/request/">Contact sales</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div> <!-- /fill -->
    </header>
{% endblock %}

{% block footer %}
    <footer>
        <div class="container">
            <ul class="footer-nav">
                <li>Copyright | chief.io Inc.</li>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">Company</a></li>
                <li><a href="/platform/">Platform</a></li>
                <li><a href="/demo/">Demo</a></li>
                <li><a href="/pricing/">Pricing</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
        </div>
    </footer>
            
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/static/js/compiled/marketing.js"></script>
{% endblock %}
